// 専用
* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Raleway", "mplus-1p-regular", sans-serif;
}
main {
  margin: auto;
  width: 80%;
}
img {
  height: auto;
}
.note {
  margin-left: 10px;
}
.carousel {
  background-image: url("../dist/Z250_BackGround.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 30% 80%;
}
.carousel-wrap {
  width: 100%;
  height: 100vh;
}
.carousel-msg {
  position: absolute;
  top: -500px;
  width: 100%;
}
div.index > ul,
ol {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
div.index a {
  font-size: 30px;
  text-decoration: none;
}
ul li img {
  width: 30%;
}
ul.profile {
  margin-left: 50px;
}
ul.profile li {
  margin-bottom: 10px;
  font-size: 20px;
}
h1.title {
  font-size: 70px;
  font-weight: 900;
  margin: 30px;
}
.introduction-container,
.profile-container,
.product-container,
.contact-container {
  position: relative;
  left: -1920px;
}
.technic-title,
.program-lang-container,
.tool-container,
.other-container {
  position: relative;
  left: -1920px;
}
.product-box {
  border-radius: 10px;
  border: #000000 1px solid;
  padding: 0px 0px 10px 0px;
  margin-bottom: 10px;
}
.product-title {
  border-bottom: #000000 1px solid;
}
// 汎用
a.primary {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #0083ff;
}
a.text-danger {
  color: red;
}
a.primary:hover {
  color: #ffffff;
  background-color: #0026ff;
}
a.none {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
  background-color: #c9c9c9;
}
a.disabled {
  pointer-events: none;
}
.text-sm {
  font-size: 10px;
}
.text-md {
  font-size: 15px;
}
.text-bg {
  font-size: 20px;
}
.position-right {
  width: 100%;
  text-align: right;
}
a.text {
  text-decoration: none;
  color: #000000;
  border-bottom: #000000 1px solid;
}
a.text:hover {
  color: #0083ff;
  border-bottom: #0083ff 1px solid;
}
a {
  color: #000000;
}
a:hover {
  color: #0083ff;
}
a.link-mark::after {
  content: " ";
}
img.img-icon {
  width: auto;
  height: 30px;
}
img.radius-300 {
  overflow: hidden;
  border-radius: 150px;
  width: 300px;
  height: 300px;
}
img.square-auto-y-100 {
  width: auto;
  height: 100px;
}
img.square-auto-y-50 {
  width: auto;
  height: 50px;
}
img.square-300 {
  width: 300px;
  height: 300px;
}
.inline {
  display: inline-block;
}
.f-left {
  float: left;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow-wrap {
  background: rgba(255, 255, 255, 0.5);
}
.text-center {
  text-align: center;
}
.anime-invisible {
  opacity: 0;
  position: relative;
  left: -1920px;
}
.anime-visible {
  opacity: 1;
  left: 0;
  transition: all 0.8s ease 0.1s;
}
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.bold {
  font-weight: 900;
}
p.title {
  font-size: 13px;
  border-bottom: #000000 solid 1px;
}
div.badge {
  display: inline;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
.primary {
  color: #ffffff;
  background-color: #0083ff;
}
.danger {
  color: #ffffff;
  background-color: red;
}
